<div class="row text-center text-lg-left">

  <div class="col-lg-4">

    <a href="/employees" class="d-block mb-10 h-50">
      <div class="middle">
        <div class="text">
          <h1><%= @employees.count %></h1>
          <h3>Job <br/> holders</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="/employees" class="d-block mb-10 h-50">
      <div class="middle">
        <div class="text">
          <h1><%= @female_employees.count%></h1>
          <h3>Women Empowered</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="/employees" class="d-block mb-10 h-50">
      <div class="middle">
        <div class="text">
        <% if @male_employees.present? %>
          <h1><%= @male_employees %></h1>
        <%else%>
          <h1><%= Employee.count %></h1>
        <%end%>
          <h3>Available for work</h3>
        </div>
      </div>
    </a>
  </div>
</div>