<div class="row text-center text-lg-left">

  <div class="col-lg-4">

    <a href="/employees" class="d-block mb-10 h-50">
      <div class="middle">
        <div class="text">
          <h1><%= @employees.count %></h1>
          <h3>Employee</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="/employees" class="d-block mb-10 h-50">
      <div class="middle">
        <div class="text">
          <h1><%= @female_employees.count%></h1>
          <h3>Female</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="/employees" class="d-block mb-10 h-50">
      <div class="middle">
        <div class="text">
          <h1><%= @male_employees.count %></h1>
          <h3>Male</h3>
        </div>
      </div>
    </a>
  </div>
</div>