<div class="content">
 <div class="panel-group">
 	<div class="row">
 		<div class="col-lg-5">
 			<%= render :partial=> "activity"%>
 		</div>
 		<div class="col-lg-5">
 			<%= render :partial=> "employee"%>
 		</div>
 	  </div>
 	  <div class="row">
 	  	
 	  </div>
      
  </div> 
</div>
