<div class="content">
  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-4">
          <h2><i class="icon-user text"></i></i>Employee</h2>
        </div>
        <div class="col-lg-8 m-t-large" align="right">
          <div class="btn-group">
            <button  onclick="location.href= '<%= new_employee_path %>'"; class="btn btn-success btn-lg" > <i class="icon-plus"> </i>Add New Employee</button>
            </button>
         </div>
        </div>
      </div>
 <div class="panel-body">
                   
       <div class="row">
        <div class="col-lg-12"><p></p>
          <section class="panel">
           <div class="panel-body">
              <div class="table-responsive">
                <table id="employees" class="table table-striped m-b-none text-small">
                  <thead>
                    <tr>
                      <th width="20%">Name</th>
                      <th width="20%">Email</th>
                      <th width="20%">Contact Number</th>
                      <th width="20%">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @employees.blank? %>
                        <%= render :partial=>"/shared/no_data_found"%>
                      <% else %>
<% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee%></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="text-center">
              
              </div>              
            </div>  
          </section>
        </div>
      </div>
   </section>
   </section>
  </div>
