
      <%= render :partial=> "shared/user_and_company_title"%>
      <!-- Main navigation -->

<div class="sidebar">
  <a href="#home">Employee</a>
  <a href="#news">Businesses</a>
  <a href="#contact">Product</a>
  <a href="#about">Activitiy</a>
  <a href="#about">Customer</a>
  <a href="#about">Orders</a>
  <a href="#about">Expenses</a>
</div>