 <div class="content">
            <div class="container-fluid">
                <div class="row">
          <div class="col-md-8 col-md-offset-2">
                        <div class="card bg-success text-white">
                            <div class="header text-center">
                                <h4 class="title">Ek bar le dala life zingalala </h4>
                              
                <br>
                            </div>
                            <table class="">
                              <tr>
                                <td>    <a href="https://test.instamojo.com/@vishukolekar/l991452c21db7494888a716fb0a0e5eaf/" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Monthly Pack"></a>
<script src="https://js.instamojo.com/v1/button.js"></script>
                          </td>
                                <td>                  <a href="https://test.instamojo.com/@vishukolekar/lc1ef63d4afba40d7b733f8fba491b0b3/" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Yearly Pack"></a>
<script src="https://js.instamojo.com/v1/button.js"></script></td>
                              </tr>
                            </table>
                      
                        </div>
      
                    </div>
                </div>

            </div>
        </div>
