 <div class="content">
           <!--  <div class="container-fluid">
                <div class="row">
          <div class="col-md-8 col-md-offset-2">
                        <div class="card bg-success text-white">
                            <div class="header text-center">
                                <h4 class="title">Ek bar le dala life zingalala </h4>
                              
                <br>
                            </div>
                            <table class="">
                              <tr>
                                <td>    <a href="https://test.instamojo.com/@vishukolekar/l991452c21db7494888a716fb0a0e5eaf/" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Monthly Pack"></a>
<script src="https://js.instamojo.com/v1/button.js"></script>
                          </td>
                                <td>                  <a href="https://test.instamojo.com/@vishukolekar/lc1ef63d4afba40d7b733f8fba491b0b3/" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Yearly Pack"></a>
<script src="https://js.instamojo.com/v1/button.js"></script></td>
                              </tr>
                            </table>
                      
                        </div>
      
                    </div>
                </div>

            </div> -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Monthly</h1>
        </div>
        <div class="panel-footer">
          <h3>₹ 500</h3>
          <h4>per week</h4>
          <a class= "btn btn-default" href="https://instamojo.com/@ruralcaravan/l1802b4e4689a4fc8b1bf148f166a2be9" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Pay"></a>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Quarterly</h1>
        </div>
        <div class="panel-footer">
          <h3>₹ 1400</h3>
          <h4>per month</h4>
         <a class= "btn btn-default" href="https://instamojo.com//@ruralcaravan/l6a80c65345fc4a9784e30247e93a036e" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Pay"></a>
        </div>
      </div>      
    </div> 
    <div class="col-sm-4 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Annual</h1>
        </div>
        <div class="panel-footer">
          <h3>₹ 5000</h3>
          <h4>per year</h4>
          <a class= "btn btn-default" href="https://instamojo.com/@ruralcaravan/l6654f2b2293b43348d315efbd2ce0def" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Pay"></a>
        </div>
      </div>      
    </div>         
  </div>
</div>
</div>
<script src="https://js.instamojo.com/v1/button.js"></script>
<style type="text/css">
     .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #bce672 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
</style>